$titleColor: #990000;
$shadow: #888888;
html {
    position: relative;
    min-height: 100%;
}

body{
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: 'Catamaran', sans-serif;
    position: relative;
}

#container {
    min-height: 100%;
    position: relative;
    // width: 100%;
    margin: 0 auto;
    // font-family: 'Catamaran', sans-serif;
}

.header {
    // padding: 10px;
    background: #f1f1f1;
    box-shadow: 0px 2px 10px $shadow;
    height: 60px;
}


.title{
    color: $titleColor;
}

.paragraph{
    font-weight: 100px;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Catamaran', sans-serif;
}